/* App Component Styles */

:host {
  display: block;
  height: 100%;
}

.min-vh-100 {
  min-height: 100vh;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-grow-1 {
  flex: 1 1 auto;
}
